
{% macro destroy_button(action, text) %}
	<form method="post" action="{{action}}" style="display:: inline-block;">
		<button type="submit" class="btn btn-danger">{{text|default('Delete')}}</button>
	</form>
{% endmacro %}