{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

  <h1>{{drink.drinkname}}</h1>
  <!-- Painikkeet tähän -->

  {{forms.destroy_button("#{base_path}/drink/#{drink.iddrink}/destroy")}}

  <a href="{{base_path}}/drink/{{drink.iddrink}}/edit" class="btn btn-default">Edit</a>

  <ul>
    <li><strong>Added:</strong> </li>
    <li><strong>Drink type:</strong> {{drink.name}}</li>
    <li><strong>Status:</strong> <label class="label label-success">hyväksytty</label></li>
  </ul>

  <ul class="list-group">
    {% for ingredient in ingredients %}
      <li class="list-group-item">{{ingredient.name}}</li>
    {% endfor %}  
  </ul>>


  <p>
  {{drink.description}}
  </p>
  <p>
  {{drink.preparation}}
  </p>

  <div class="alert alert-success">
    {{message}}
  </div>

{% endblock %}