{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

  {% if user_logged_in %}
    <h1>User's {{user_logged_in.name}} drinking library </h1>
  {% endif %}

  {% if message %}
    <div class="alert alert-success">
          {{message}}
    </div>
  {% endif %}


  <p>
    <a href="{{base_path}}/drink/new" class="btn btn-success">Propose a new drink</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Drink name</th>
        <th>Added by</th>
        <th>Drink type</th>
        <th>Description</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      {% for drink in drinks %}
        <tr>
          <td> <a href="{{base_path}}/drink/{{drink.iddrink}}"> {{drink.drinkname}}</td>
          <td>{{drink.createdby}}</td>
          <td>{{drink.name}}</td>
          <td>{{drink.description}}</td>
          <td>{{forms.destroy_button("#{base_path}/drink/#{drink.iddrink}/destroy")}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}