{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

  <h1>{{drink.drinkname}}</h1>
  <!-- Painikkeet tähän -->

  {{forms.destroy_button("#{base_path}/drink/#{drink.iddrink}/destroy")}}

  <a href="{{base_path}}/drink/{{drink.iddrink}}//edit" class="btn btn-default">Edit</a>

  <h1> Edit drink to library </h1>

  <form method="post" action="{{base_path}}/drink/{{drink.iddrink}}/edit">
    <div class="form-group">
      <label>Name</label>
      <input type="text" name="drinkname" class="form-control" value={{drink.drinkname}}>
    </div>

    <div class="form-group">
      <label>Preparation</label>
      <textarea name="preparation" class="form-control">{{drink.preparation}}</textarea>
    </div>

    <div class="form-group">
      <label>Drinktype (1 for shot and 2 for aperative)</label>
      <input type="text" name="drinktype" class="form-control" value={{drink.drinktype}}>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea name="description" class="form-control">{{drink.description}}</textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Modify</button>
    </div>
  </form>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
  <div class="alert alert-success">
    {{message}}
  </div>

{% endblock %}