
{% extends "base.html" %}
{% block content %}

	<h1> Add new drink to library </h1>

	<form method="post" action="{{base_path}}/drink">
		<div class="form-group">
			<label>Name</label>
			<input type="text" name="drinkname" class="form-control">
		</div>

		<div class="form-group">

			<label>Ingredients</label>
			<p>Select multiple by holding down mouse key</p>
			<select class="form-control" name="drinkingredients[]" multiple="">
				{% for ingredient in ingredients %}
					<option value={{ingredient.ingrid}}>{{ingredient.name}}</option>
				{% endfor %}
			</select>
		</div>

		<div class="form-group">
			<label>Preparation</label>
			<textarea name="preparation" class="form-control"></textarea>
		</div>

		<div class="form-group">
			<label>Drink type</label>
			<select class="form-control" name="drinktype">
				<option value="1">Shot</option>
				<option value="2">Aperative</option>
			</select>
		</div>

		<div class="form-group">
			<label>Description</label>
			<textarea name="description" class="form-control"></textarea>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary">Add</button>
		</div>
	</form>


	{% if errors %}
	  <div class="alert alert-danger">
	    <ul>
	    	{% for error in errors %}
	    		<li>{{error}}</li>
    		{% endfor %}
		</ul>
	  </div>
  	{% endif %}


{% endblock %}


