{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Tervetuloa Rami Piiroisen kuuluisaan drinkkikirjastoon</h1>
    <p>Tutustu sisältöön yläpalkin linkeistä</p>
  </div>



  <p>
    <a href="http://tsoha.github.io" class="btn btn-primary btn-lg"> Kurssin kotisivut <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
{% endblock %}
