{% extends "base.html" %}
{% block content %}
  
  <h1>Log in to Drink archives</h1>

  <!-- Kaikki lomakkeen elementit form-tagin sisään -->
  <form method="post" action"{{base_path}}/login">
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
      <label>Username</label>
      <input class="form-control" name="username" value="{{username}}" type="text">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
      <label>Password</label>
      <input class="form-control" name="password" type="password">
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
{% endblock %}