
{% extends "base.html" %}
{% block content %}

	<h1> Add new ingredient to library </h1>

	<form method="post" action="{{base_path}}/ingredient">
		<div class="form-group">
			<label>Name</label>
			<input type="text" name="ingredientname" class="form-control">
		</div>

		<div class="form-group">
			<label>Description</label>
			<textarea name="description" class="form-control"></textarea>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary">Add</button>
		</div>
	</form>


	{% if errors %}
	  <div class="alert alert-danger">
	    <ul>
	    	{% for error in errors %}
	    		<li>{{error}}</li>
    		{% endfor %}
		</ul>
	  </div>
  	{% endif %}


{% endblock %}


