{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

  {% if user_logged_in %}
    <h1>User's {{user_logged_in.name}} ingredient library </h1>
  {% endif %}

  {% if message %}
    <div class="alert alert-success">
          {{message}}
    </div>
  {% endif %}


  <p>
    <a href="{{base_path}}/ingredient/new" class="btn btn-success">Propose a new ingredient</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Ingredient name</th>
        <th>Description</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      {% for ingr in ingredient %}
        <tr>
          <td>{{ingr.name}}</td>
          <td>{{ingr.description}}</td>
          <td>temp</td>
          <!--<td>{{forms.destroy_button("#{base_path}/drink/#{drink.iddrink}/destroy")}}</td>-->
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}