{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

  <h1>{{ingredient.name}}</h1>
  <!-- Painikkeet tähän -->

  {{forms.destroy_button("#{base_path}/ingredient/#{ingredient.ingrid}/destroy")}}

  <a href="{{base_path}}/ingredient/{{ingredient.ingrid}}/edit" class="btn btn-default">Edit</a>

  <ul>
    <li><strong>Ingredient name:</strong> {{ingredient.name}}</li>
  </ul>

  <p>
  {{ingredient.description}}
  </p>

  <div class="alert alert-success">
    {{message}}
  </div>

{% endblock %}